<h1 class="text-center mt-3 mb-3"> About Me </h1>

<div class="card aboutcard">
    <%= image_tag("Silhouette.jpg", :alt => "rss feed", class: "aboutpic") %>
    
    <div class="card-body aboutcard-body">
        <p class="card-text"> My name is Albie. Thoughts Loading...
    </div>
</div>