
<div class="container" id="hompagecontainer">
    <div class="jumbotron text-center text-white homejumbo">
        <h1 class="display-4">HI THERE!</h1>
        <p class="lead"> This is a website is made from Ruby on Rails. </br> Thanks for dropping by and stay safe out there, wherever you are in the world! </p>
        <hr class="homehr">
        <h5> <strong> THIS IS A WORK IN PROGRESS AND MAY OR MAY NOT COMPLETELY FINISH. </strong> </h5>
        </br>
        <%= link_to "Know More", gamelists_path, class: "btn btn-primary" %>
    </div> 
</div>