<h1 class="text-center mt-3 mb-3"> Games Played </h1>

<div class="row ml-1 mr-1">
    <% @gamelists.each do |game| %>

        <div class="col-sm-3 mt-2 mb-2">
            <div class="card">
            <div class="card-body">
                <h5 class="class-title"> <%= game.title %> </h5>
                <p class="card-text"> <%= truncate(game.description) %> </p>
                <%= link_to "View Game Details", gamelist_path(game), class: "btn btn-primary" %>
            </div>
            </div>
        </div>

    <% end %>
</div>

<div class="ml-3 mr-3">
    <hr class="indexhr">
</div>

<div class="row ml-1 mr-1">
    <p class="ml-3 mt-3">
        <%= link_to 'Enter a New Game', new_gamelist_path, class: "btn btn-dark" %>
    </p>
</div>